{:lib      io.github.hive-agi/hive-event-protocols
 :minor    1
 :license  {:name "UNDECLARED" :url ""}
 :scm-url  "https://github.com/hive-agi/hive-event-protocols"
 :src-dirs ["src"]
 :publish  :none}
